@model OrderApplicationPage.Models.Order


<div class="container">
    <div class="row">
        <div class="col-md-12">
     
            <form method="post">

                <input asp-for="Number" hidden/>
                <fieldset>
                    <div class="row">
                        <div class="col-md-6">

                            <div class="form-group">
                                <label asp-for="OrderNumber">

                                </label>
                                <input asp-for="OrderNumber" class="form-control" type="text" id="OrderNumber" />
                                <span asp-validation-for="OrderNumber" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="ShipToFirstName">

                                </label>
                                <input asp-for="ShipToFirstName" class="form-control" type="text" id="ShipToFirstName" />
                                <span asp-validation-for="ShipToFirstName" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label asp-for="ShipToAddress1">

                                </label>
                                <input asp-for="ShipToAddress1" class="form-control" type="text" id="ShipToAddress1" />
                                <span asp-validation-for="ShipToAddress1" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label asp-for="ShipToZipCode">

                                </label>
                                <input asp-for="ShipToZipCode" class="form-control" type="text" id="ShipToZipCode" />
                                <span asp-validation-for="ShipToZipCode" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label asp-for="ShipToCountryCode">

                            </label>
                            <input asp-for="ShipToCountryCode" class="form-control" type="text" id="ShipToCountryCode" />
                            <span asp-validation-for="ShipToCountryCode" class="text-danger"></span>
                        </div>
                    </div>
                </fieldset>
                <input class="btn-success btn-lg float-right" type="submit" id="submit" value="Update Order" />
            </form>

        </div>
    </div>
</div> 